.tracking-tight {
  letter-spacing: -0.025em;
}

.tracking-normal {
  letter-spacing: 0em;
}

.tracking-loose {
  letter-spacing: 0.025em;
}

.tracking-wide {
  letter-spacing: 0.05em;
}

.tracking-wider {
  letter-spacing: 0.1em;
}

.tracking-widest {
  letter-spacing: 0.2em;
}